<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <title>Roquet.Q - Perguntas e Respostas</title>
        <!-- X-UA -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <!-- Char -->
        <meta charset="UTF-8">
        <!-- View Port -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta>
        <!-- CSS -->
        <link rel="stylesheet" href="/styles/main.css"/>
        <link rel="stylesheet" href="/styles/room.css"/>
        <link rel="stylesheet" href="/styles/modal.css"/>
        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
        <!-- SCRIPT -->
        <script src="/scripts/main.js" defer type="module"></script>
    </head>

    <body>
        <div id="room" class="content">
            <header>
                <a href="/">
                    <img src="/images/Logo.svg" alt="Rocket.Q Logo"/>
                </a>
                <div class="buttons">
                    <div class="button outlined" id='room-id' data-id="<%= Id %>">
                        <%= Id %>
                        <img src="/images/copy.svg" alt="Copiar número da sala">
                    </div>
                    <a class="button" href="/pass">
                        Criar Sala
                        <img src="/images/user_white.svg" alt="Criar sala">
                    </a>
                </div>
            </header>
            <main>
                <section id="quizform">
                    <h2>Faça sua pergunta</h2>
                    <form action="/room/create/<%= Id %>" method="POST">
                        <label class="sr-only" for="question">O que você quer perguntar</label>
                        <textarea id="question" name="question" placeholder="O que você quer perguntar"></textarea>
                        <footer>
                            <div>
                                <img src="/images/lock.svg" alt="Cadeado"/>
                                Esta pergunta é anônima
                            </div>
                            <button>Enviar</button>
                        </footer>
                    </form>
                </section>
                <section id="quiz">
                    <h2 class="sr-only">Perguntas da Comunidade</h2>
                    <div class="quizes">

                        <%
                            if( isNoQuestions )
                            {
                        %>
                                <%- include( 'parts/noquestions' )  %>
                        <%
                            }
                        %>

                        <%
                            questions.forEach( question =>
                            {
                        %>
                            <div class="quiz-wrapper">
                                <div class="quiz-content">
                                    <div class="user">
                                        <img src="/images/user_gray.svg" alt="Avatar"/>
                                    </div>
                                    <div class="quiz">
                                        <p>
                                            <%= question.title %>
                                        </p>
                                    </div>
                                </div>
                                <div class="action">
                                    <a href="#" class="check" data-id=<%= question.id %>>
                                        <img src="/images/check.svg" alt="Marcar como Lido"/>
                                        Marcar como Lido
                                    </a>
                                    <a href="#" class="delete" data-id=<%= question.id %>>
                                        <img src="/images/trash.svg" alt="Apagar"/>
                                        Apagar
                                    </a>
                                </div>
                            </div>

                        <%
                            });
                        %>

                        <%
                            questionsRead.forEach( questionRead =>
                            {
                        %>
                            <div class="quiz-wrapper read">
                                <div class="quiz-content">
                                    <div class="user">
                                        <img src="/images/user_gray.svg" alt="Avatar"/>
                                    </div>
                                    <div class="quiz">
                                        <p>
                                            <%= questionRead.title %>
                                        </p>
                                    </div>
                                </div>
                                <div class="action">
                                    <a href="#" class="delete" data-id=<%= questionRead.id %>>
                                        <img src="/images/trash.svg" alt="Apagar"/>
                                        Apagar
                                    </a>
                                </div>
                            </div>
                        <%
                            });
                        %>

                    </div>
                </section>
            </main>
        </div>
        <!-- MODAL -->
        <div class="modal-wrapper">
            <div class="modal">
                <h2>Excluir pergunta</h2>
                <p>Tem certeza que você deseja excluir essa pergunta?</p>
                <form method="POST" action="#">
                    <label class="sr-only" for="password">Digite sua senha Admin</label>
                    <input id="password" type="password" name="password" placeholder="Digite a senha de Admin">
                    <div class="buttons">
                        <div class="button cancel gray">Cancelar</div>
                        <button class="red">Sim, excluir</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
